:root {
  --main-color: rgb(55 65 81);
  --secondary-color: #101012; /* #1b1717; */
  --box-color: rgb(30 30 30); /*  #282424; */
}

body {
  background-color: var(--main-color);
  font-size: 10pt;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
}

.border-t-3 {
  border-top-width: 2.5px !important;
}
.border-b-3 {
  border-bottom-width: 2.5px !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: #323232;
}

::-webkit-scrollbar-thumb:hover {
  background: #434343;
}

.space-x-0\.1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.04rem * var(--tw-space-x-reverse));
  margin-left: calc(0.04rem * calc(1 - var(--tw-space-x-reverse)));
}
